<?js
    var data = obj;
    var self = this;
?>

<?js if (data.augments && data.augments.length) { ?>
    This class extends the <?js= self.linkto(data.augments[0], data.augments[0]) ?> class.
<?js } ?>
