<?js
var data = obj;
var self = this;
?>
<div class="panel panel-default">
  <div class="panel-heading"><strong>Details</strong></div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <?js if (data && data.type && data.type.names) {?>
          <th>Type</th>
        <?js } ?>
        <?js if (data && data.version) {?>
          <th>Version</th>
        <?js } ?>
        <?js if (data && data.since) {?>
          <th>Since</th>
        <?js } ?>
        <?js if (data.defaultvalue) {?>
          <th>Default value</th>
        <?js } ?>
        <?js if (data.meta && this.navOptions.outputSourceFiles) {?>
          <th>Source</th>
        <?js } else if (data.meta && this.navOptions.outputSourcePath) { ?>
          <th>Source</th>
        <?js } ?>
        <?js if (data.see && see.length) {?>
          <th>See</th>
        <?js } ?>
        <?js if (data.overrides) { ?>
          <th>Overrides</th>
        <?js } ?>
        <?js if (data.tutorials && tutorials.length) {?>
          <th>Tutorials</th>
        <?js } ?>
        <?js if (data.todo && todo.length) {?>
          <th>To Do</th>
        <?js } ?>
      </tr>
    </thead>
    <tbody>
      <tr>
        <?js if (data && data.type && data.type.names) {?>
          <td>
            <?js= self.partial('type.tmpl', data.type.names) ?>
          </td>
        <?js } ?>
        <?js if (data && data.version) {?>
          <td><?js= version ?></td>
        <?js } ?>
        <?js if (data && data.since) {?>
          <td><?js= since ?></td>
        <?js } ?>
        <?js if (data.defaultvalue) {?>
          <td><pre><code><?js= data.defaultvalue ?></code></pre></td>
        <?js } ?>
        <?js if (data.meta && this.navOptions.outputSourceFiles) {?>
          <td>
            <?js= self.linkto(meta.shortpath) ?><?js if (this.navOptions.linenums) {?>,
             <?js= self.linkto(meta.shortpath, 'line ' + meta.lineno, null, 'sunlight-1-line-' + meta.lineno) ?><?js } ?>
          </td>
        <?js } else if (data.meta && this.navOptions.outputSourcePath) { ?>
          <td>
            <?js= meta.shortpath ?>
          </td>
        <?js } ?>
        <?js if (data.overrides) { ?>
          <td>
            <?js= this.linkto(data.overrides, this.htmlsafe(data.overrides)) ?>
          </td>
        <?js } ?>
        <?js if (data.tutorials && tutorials.length) {?>
          <td>
            <ul><?js tutorials.forEach(function(t) { ?>
              <li><?js= self.tutoriallink(t) ?></li>
              <?js }); ?></ul>
          </td>
        <?js } ?>
        <?js if (data.see && see.length) {?>
          <td>
            <ul><?js see.forEach(function(s) { ?>
              <li><?js= self.linkto(s) ?></li>
              <?js }); ?></ul>
          </td>
        <?js } ?>
        <?js if (data.todo && todo.length) {?>
          <td>
            <ul><?js todo.forEach(function(t) { ?>
              <li><?js= t ?></li>
              <?js }); ?></ul>
          </td>
        <?js } ?>
      </tr>
    </tbody>
  </table>
</div>
<dl class="details">
    <?js
        var properties = data.properties;
        if (properties && properties.length && properties.forEach) {
    ?>

    <h5 class="subsection-title">Properties:</h5>

    <dl><?js= this.partial('properties.tmpl', properties) ?></dl>

    <?js } ?>

  <?js if (data.inherited && data.inherits) { ?>
  <dt class="inherited-from method-doc-label method-doc-details-label">Inherited From:</dt>
  <dd class="inherited-from">
    <ul class="dummy">
      <li>
        <?js= this.linkto(data.inherits, this.htmlsafe(data.inherits)) ?>
      </li>
    </ul>
  </dd>
  <?js } ?>

    <?js if (data.implementations && data.implementations.length) { ?>
    <dt class="implementations">Implementations:</dt>
    <dd class="implementations"><ul>
        <?js data.implementations.forEach(function(impl) { ?>
            <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
        <?js }); ?>
    </ul></dd>
    <?js } ?>

    <?js if (data.implements && data.implements.length) { ?>
    <dt class="implements">Implements:</dt>
    <dd class="implements"><ul>
        <?js data.implements.forEach(function(impl) { ?>
            <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
        <?js }); ?>
    </ul></dd>
    <?js } ?>

    <?js if (data.mixes && data.mixes.length) { ?>
        <dt class="mixes">Mixes In:</dt>

        <dd class="mixes"><ul>
        <?js data.mixes.forEach(function(a) { ?>
            <li><?js= self.linkto(a, a) ?></li>
        <?js }); ?>
        </ul></dd>
    <?js } ?>

  <?js if (data.deprecated) { ?>
  <dt class="important tag-deprecated method-doc-label method-doc-details-label">Deprecated:</dt>
  <?js
            if (data.deprecated === true) { ?>
    <dd class="yes-def tag-deprecated">
        <ul class="dummy">
            <li>Yes</li>
        </ul>
    </dd>
    <?js }
            else { ?>
    <dd>
        <ul class="dummy">
            <li><?js= data.deprecated ?></li>
        </ul>
    </dd>
    <?js }
        ?>
    <?js } ?>

  <?js if (data.author && author.length) {?>
  <dt class="tag-author method-doc-label method-doc-details-label">Author:</dt>
  <dd class="tag-author">
    <ul><?js author.forEach(function(a) { ?>
      <li><?js= self.resolveAuthorLinks(a) ?></li>
      <?js }); ?></ul>
  </dd>
  <?js } ?>

  <?js if (data.copyright) {?>
  <dt class="tag-copyright method-doc-label method-doc-details-label">Copyright:</dt>
  <dd class="tag-copyright">
    <ul class="dummy">
      <li><?js= copyright ?></li>
    </ul>
  </dd>
  <?js } ?>

  <?js if (data.license) {?>
  <dt class="tag-license method-doc-label method-doc-details-label">License:</dt>
  <dd class="tag-license">
    <ul class="dummy">
      <li><?js= license ?></li>
    </ul>
  </dd>
  <?js } ?>
</dl>
