<?js
var data = obj;
var self = this;
?>
<hr>
<dt class="name" id="<?js= id ?>">
    <!-- <h4><?js= data.attribs + name + (data.signature ? data.signature : '') ?></h4> -->
    <h4><?js= id ?></h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data && data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js= self.partial('details.tmpl', data) ?>

    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
