<?js
var data = obj;
var self = this;
?>
<hr>
<dt class="name" id="<?js= id ?>">
    <h4><strong><?js= data.attribs + name ?></strong></h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data && data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js= self.partial('details.tmpl', data) ?>

    <?js if (data.examples && examples.length) { ?>
        <div class="code-panel panel panel-warning">
          <div class="panel-heading">
            <strong>Example<?js= examples.length > 1? 's':'' ?></strong>
          </div>
          <div class="panel-body">
            <?js= this.partial('examples.tmpl', examples) ?>
          </div>
        </div>
    <?js } ?>
</dd>
