<?js
    var data = obj;
?>
<section>
    <article>
        <pre><code
            class="javascript <?js= this.navOptions.linenums ? 'linenums' : '' ?>"><?js= data.code ?></code></pre>
    </article>
</section>
